body{
    
}
.navBarColor{
    background-color: #212344;
}

a:link, a:visited {
    background-color: #212344;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #53819b;
  }

#GFImage{
    margin: -10%;
    padding: -100%;
    
}

#btmPic{
    text-align: center;
}